---
import links from 'public/links.json'

import { Collapse, Timeline } from 'astro-pure/user'
import config from 'virtual:config'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: '常用友链' },
  { depth: 2, slug: 'special-links', text: '特殊链接' },
  { depth: 2, slug: 'apply-links', text: '申请友链' }
]

const { friends } = links
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
---

<PageLayout title='友链' {headings} comment>
  <p>友情链接，随机排序。</p>
  <h2 id='common-links'>常用友链</h2>
  <FriendList list={friends[0]} />
  <Collapse title='失效友链'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='友链历史'>
    <Timeline events={linksConf.logbook} />
  </Collapse>
  <h2 id='special-links'>特殊链接</h2>
  <FriendList list={friends[2]} />

  <h2 id='apply-links'>申请友链</h2>
  <p>本站信息（点击复制）：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'已复制到剪贴板：${val}'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    可通过下方留言或 <a href={linkEditPage} target='_blank'>提交 PR</a> 申请友链。申请说明：
  </p>
  <ul>
    <li>已在您的网站推荐本站</li>
    <li>站点正常访问且拥有正式域名</li>
    <li>至少有 5 篇原创文章，且最近一年内有更新</li>
    <li>内容不违反国家法律法规</li>
  </ul>
</PageLayout>
